@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: "Patrick Hand", cursive;
    --main-font-size: 1.5em;
    }

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    max-width: 100%;
}

#logo-and-brand-name{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 2em 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
}

header, section, .header{
    margin-bottom: 1em;
}



#logo-image{
    max-width: 30%;
    
}

form{
    display: flex;
    width: 100%;
}

input{
    flex: 1 0 90%;
    font-size: var(--main-font-size);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button{
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 3em;
    color: var(--secondary-color);
}

input, button{
    border-color: var(--text-light);
}

#header-underline{
    height: 1em;
    width: 100%;
    border-top: 1px var(--text-light) solid;
}


h1, h2{
    font-family: var(--secondary-font);
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 3.5em;
    margin: 0;
}

article{
    padding: 1.6em;
    font-size: var(--main-font-size);
}

summary{
    border: 1px var(--text-dark) solid;
    max-width: 30%;
    text-align: center;
    
}

h2{
    color: var(--primary-color);
}

h2, p{
    margin: 1em 0 0 0;
}

footer a{
    font-size: 0.6em;
    padding-left: 0.6em;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 91%;
}

.social{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.social img{
    width: 5em;
    padding: 0.5em;
}

button{
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
}

section{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    border: 1px var(--text-dark) solid; 
    border-radius: 5px;  
}

p{
    display: none;
}

.rating{
    background-color: white;
}

@media only screen and (min-width: 450px) {
    #logo-image{
        max-width: 25%;   
    }
}

@media only screen and (min-width: 500px) {
    #logo-image{
        max-width: 20%;   
    }
}

@media only screen and (min-width: 600px) {
    #logo-image{
        max-width: 15%;   
    }

    figure{
        flex: 0 1 80%;
    }

    summary{
        max-width: 50%; 
    }
}

@media only screen and (min-width: 750px) {
    #logo-image{
        max-width: 12%;   
    }
}

@media only screen and (min-width: 800px) {
    #logo-and-brand-name{
        padding: 2em 2em;
    }

    section{
        display: flex;
        flex-direction: row;
    }

    article{
        padding: 1.6em 0;
    }

    p{
        display: block;
    }

    footer{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 900px) {
    #logo-and-brand-name{
        padding: 2em 8em;
    }

    #logo-image{
        max-width: 16%;   
    }
}


@media only screen and (min-width: 960px) {
    section{
        display: flex;
        flex-direction: row;
    }

    figure{
        flex: 0 4 80%;
    }
}

@media only screen and (min-width: 1050px) {
    #logo-and-brand-name{
        margin: 2em 7.6em;
    }
    
    #logo-image{
        max-width: 25%;   
    }
}

@media only screen and (min-width: 1150px) {
    figure{
        flex: 0 4 25%;
    }

    #logo-image{
        max-width: 20%;   
    }
}

@media only screen and (min-width: 1250px) {
    #logo-image{
        max-width: 12%;   
    }
}

@media only screen and (min-width: 1300px) {
    footer{
        width: 82%;
    }
}