@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Patrick+Hand&display=swap');
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #3A5694;
  --secondary-color: #FFFFFF;
  --accent1-color: #F8FF24;
  --accent2-color: #381D2A;
  --accent3-color: #01EC1C;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Times New Roman', Georgia, serif;
  --paragraph-font: Arial, Verdana, sans-serif;
  --logo-font: "Luckiest Guy", "Patrick Hand", cursive;

  /*font sizes*/
  --input-font-size: 1.1em;

}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    font-size: 18px;
  }

img{
    max-width: 100%;
}

#logo{
  font-family: var(--logo-font);
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
  background-color: white;
  color: var(--accent1-color);
  text-decoration-line: none;
  text-shadow: 1px 1px 5px var(--accent2-color), 0 0 35px var(--primary-color), 0 0 10px var(--accent2-color);
}

h2{
    font-family: var(--heading-font);
}

header {
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
    padding: 1em;
  }
  
ul{
    display: grid;
    grid-template-columns: 120px 120px;
    justify-content: end;
    margin-right: 2em;
    list-style-type: none;
    font-size: 1.6em;
  }

@media only screen and (max-width: 380px) {
  ul{
    margin-right: 0;
  }

  #logo{
    font-size: 1.5em;
  }
}

ul a{
    text-decoration: none;
  }

ul a:hover{
    text-decoration: underline;
  }

form{
    display: flex;
    width: 100%;
    justify-content: center;
}

input, button{
    border-color: var(--primary-color);
}

input{
    flex: 1 0 90%;
    font-size: var(--input-font-size);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.2em;
  }

button{
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 3em;
    color: var(--primary-color);
    cursor: pointer;
}

section{
    border: 1px var(--primary-color) solid;
    border-radius: 5px;
    margin: 1em 0;
    padding: 1em;
}

@media only screen and (min-width: 800px) {
    section {
        display: flex;
        flex-direction: row;
    }

    figure{
        flex: 0 0 50%;
    }

    #mainImage{
      display: block;
        max-width: 70%;
        margin: 2em auto;
    }
}

article{
    margin: 0 2em;
}

summary{
    display: flex;
    flex-wrap: wrap;
}

mark{
    border: 1px var(--primary-color) solid;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5em;
    max-width: 40%;
    text-align: center;
    margin: 0.5em 0.5em 1em 0;
}

p{
    font-family: var(--paragraph-font);
}

#zeroSearchResultsMessage{
    text-align: center;
    margin: 3em;
    font-size: 2em;
}

footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem 0 1rem 0; 
}

footer p{
  text-align: center;
}

@media only screen and (max-width: 380px) {
  footer{
    padding: 1rem 0.5rem 1rem 0.5rem; 
  }
}