@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
    --primary-color: #52489c;
    --secondary-color: #d9d9d9;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
    }

body{
    font-family: var(--primary-font);
    margin: 0 auto;

}

header, footer, button, a{
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    
}

nav{
    padding: 0.1rem 0 1rem 0;
}

@media only screen and (min-width: 1000px) {
    nav{
        margin: 0 2em;
    }
}

@media only screen and (min-width: 1300px) {
    nav{
        margin: 0 6em;
    }
}

button{
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-right: 2rem;
    margin: 0;
}

.hide{
    display: none;
}

@media only screen and (min-width: 1000px) {
    /*button{
        display: none;
    }*/

    ul{
        margin: 0 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
  }

li{
    margin: 0.3rem 0;
}

a:link {
    color: var(--text-light);
  }

a:visited {
  color: var(--accent-color);
}

h1{
    font-size: 2.5rem;
}

h1, h3{
    font-family: var(--secondary-font);
    text-align: center;
}

h1, h3{
    margin: 0;
    padding: 1rem 0 0 0;
}

p{
    margin: 0;
    padding: 1rem 0 1rem 0;
}

main{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
  justify-content: center;
}



.gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    
}

@media only screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
        margin: 0 2em;
    }
  }

@media only screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 5em;
    }
  }

  @media only screen and (min-width: 1300px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 14em;
    }
  }

  @media only screen and (min-width: 1500px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 18em;
    }
  }

figure{
    justify-self: center;
    margin: 2em 0;
}

img{
    max-width: 100%;
    height: 15.63rem;
    width: 15.63rem;
    object-fit: cover;
    border: 0.5em solid var(--text-light);
    box-shadow: 0.4em 0.4em 0.7em 0.01em black;
}

div.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-gap: 1rem;
    color: #333;
}

.close-modal{
    width: 1.5em;
    height: 1.5em;
    background-color: transparent;
    justify-self: right;
    align-self: center;
}

.modal img{
    max-height: 100%;
    justify-self: center;
}

@media only screen and (min-width: 300px) {
    div.modal{
        grid-template-rows: 0.1fr 1fr;
    }

    .close-modal{
        padding: 2em;
    }

    .modal img{
        height: auto;
        width: 80%;
        
    }
  }

  @media only screen and (min-width: 400px) {

    .close-modal{
        padding: 3em;
    }    
  }

  @media only screen and (min-width: 600px) {

    .close-modal{
        padding: 4em;
    }    
  }

  @media only screen and (min-width: 800px) {

    .close-modal{
        padding: 5em;
    }    
  }

  @media only screen and (min-width: 1000px) {
    div.modal{
        grid-template-rows: 0.02fr 1fr;
        margin: 2em;
        padding: 3em;
    }

    .close-modal{
        padding: 0 5em;
    } 

    .modal img{
        height: 80%;
        width: auto;
    }
  }

  @media only screen and (min-width: 1200px) {
    .modal img{
        height: 50%;
    }
  }